:root {
	--black-color: #263238;
	--base-color: #baef00;
	--base-color-hover: #d9ff56;
	--base-color-active: #a3d200;
	--border-color: #e3e3e3;
	--price-color: #6c6c6c;
	--placeholder-color: #8d8d8d;
	--transition-duration: 0.3s;
}

html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	color: var(--black-color);
	background-color: white;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}
/* Ссылка */
.default-link {
	color: var(--black-color);
	text-decoration: underline;
	transition: color var(--transition-duration),
		background-color var(--transition-duration);
}

.default-link:focus-visible {
	outline: none;
	background-color: var(--base-color);
}

.default-link:hover {
	color: var(--base-color-hover);
}

.default-link:active {
	color: var(--base-color-active);
}

/*Кнопка*/
.default-btn {
	display: inline-block;
	color: var(--black-color);
	padding: 11px 47px;
	border-radius: 12px;
	background-color: var(--base-color);
	border: none;
	outline: 1px solid transparent;
	outline-offset: 2px;
	transition: outline-color var(--transition-duration),
		background-color var(--transition-duration);
	cursor: pointer;
}

.default-btn:focus-visible {
	outline-color: var(--base-color);
}

.default-btn:hover {
	background-color: var(--base-color-hover);
}

.default-btn:active {
	background-color: var(--base-color-active);
}

/*текстовое поле*/
.text-field {
	padding: 11px 16px 11px 16px;
	border-radius: 12px;
	border: 1px solid var(--border-color);
	transition: border-color var(--transition-duration);
	outline: none;
}

.text-field::placeholder {
	color: var(--placeholder-color);
}

.text-field:focus {
	border-color: var(--base-color);
}

/*Подзаголовок*/
.subtitle {
	margin: 0;
	color: #000000;
	text-align: center;
	font-weight: 700;
	font-size: 34px;
}

/*лого*/
.logo {
	display: block;
	width: 154px;
}

/*меню*/

.menu__list {
	display: flex;
	align-items: center;
	gap: 50px;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.menu__link {
	color: white;
	outline: none;
	transition: color var(--transition-duration),
		background-color var(--transition-duration);
}

.menu__link:focus-visible {
	outline: none;
	color: var(--black-color);
	background-color: var(--base-color);
}

.menu__link:hover {
	color: var(--base-color-hover);
}

.menu__link:active {
	color: var(--base-color-active);
}

/*форма обратной связи*/
.callback-form {
	display: flex;
	gap: 16px;
}

.callback-form__inp {
	flex-basis: 288px;
}

/*Карточка товара*/

.product-card {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 12px;
	border: 1px solid var(--border-color);
}
.product-card__img {
	display: block;
	flex-shrink: 0;
	width: 100%;
	height: 180px;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	object-fit: cover;
}
.product-card__body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 100%;
	padding: 15px;
}
.product-card__body-top {
	margin-bottom: 22px;
}
.product-card__title {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 21px;
	font-weight: 700;
}
.product-card__price {
	font-size: 18px;
	color: var(--price-color);
	font-weight: 700;
}

.product-card__btn {
	width: 100%;
}

.product-card_big {
	border: none;
	position: relative;
	height: 350px;
}

.product-card__img_big {
	height: 100%;
	border-radius: 12px;
}

.product-card__body_big {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	color: white;
	align-items: flex-start;
}

.product-card__price_big {
	color: #ffffff;
	font-size: 18px;
}

.product-card__btn_big {
	width: initial;
}

.container {
	max-width: 780px;
	margin: 0px auto;
	padding: 40px 15px;
}

/*шапка*/
.header {
	background-color: var(--black-color);
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: block;
	padding: 22px;
	background-color: var(--base-color);
	transition: opacity var(--transition-duration),
		background-color var(--transition-duration);
	outline: none;
}

.header__logo:focus-visible {
	opacity: 0.8;
}

.header__logo:hover {
	background-color: var(--base-color-hover);
}

.header__logo:active {
	background-color: var(--base-color-active);
}

/*hero*/

.hero {
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.hero__container::after {
	content: '';
	display: block;
	flex-basis: 470px;
	height: 375px;
	background-image: url('../img/hero.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.hero__content {
	flex-basis: 484px;
}

.hero__title {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 34px;
}

.hero__desc {
	max-width: 360px;
	margin-top: 0;
	margin-bottom: 48px;
	font-size: 20px;
}

@media (max-width: 740px) {
	.callback-form {
		flex-direction: column;
	}

	.callback-form__inp {
		flex-basis: initial;
	}

	.product-card__img {
		height: 90px;
	}
	.product-card__body {
		padding: 10px;
	}
	.product-card__body-top {
		margin-bottom: 22px;
	}
	.product-card__title {
		font-size: 14px;
	}
	.product-card__price {
		font-size: 14px;
	}

	/*Контейнер*/
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0px 15px;
	}

	.product-card__img_big {
		height: 100%;
	}

	.product-card__btn_big {
		width: 100%;
	}

	/*шапка*/
	.header__container {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}

	.header__logo {
		display: flex;
		justify-content: center;
	}

	.header__menu {
		padding: 20px 0;
		width: 100%;
		overflow: scroll;
	}

	.header__menu-list {
		padding-left: 15px;
		padding-right: 15px;
		width: fit-content;
	}
}

/* link */
